*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.calculator{
    height: 100vh;
    width: 100%;
    background: #a0d7ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
background: #17181a;
padding: 26px;
border-radius: 20px;
box-shadow: 0px 80px 50px -30px rgba(41, 168, 255, 0.2);
}
.text{
    font-size: 400;
    color: #fff;
    text-transform: uppercase;
}
input{
    width: 330px;
    padding: 25px;
    margin: 10px;
    background: transparent;
    border: 1px solid ;
    font-size: 45px;
    text-align: right;
    color: #fff;
}
input::placeholder{
    color: #fff;

}
button{
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #303136;
    font-size: 21px;
    font-weight: 600;
    color: #ecf7ff;
    margin: 10px;
    cursor:pointer;

}
.equal{
    width: 144px;
    color: #fff;
    background: #1991ff;
    font-size: 700;
}
.other-clr{
    background: #616161;
    color: #a5a5a5;
    font-weight: 400;
}
.main{
    background: #005db2;
    color: #ffffff;
    
}